<link href="https://festivalf.ir/public/uploads/editor_files/a/up.css" rel="stylesheet">
<svg viewBox="0 0 960 300">
    <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="80%">NITA ♥ </text>
    </symbol>

    <g class = "g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
    </g>
</svg>
<br>
<br>
<br>
<center><embed src="https://www.mboxdrive.com/SLANDER%20-%20Love%20Is%20Gone%20ft.%20Dylan%20Matthew%20(Lyrics%20Terjemahan%20Indonesia)%20'I'm%20sorry,%20don't%20leave%20m.mp3"></center>
